body{
    overflow-x: hidden;
   
   }
   .navbar-custom {
       list-style: none;
       margin: 5px 20px;
   
   }
   
   .button-custom {
       padding-top: 12px;
       padding-bottom: 12px;
       padding-left: 24px;
       padding-right: 24px;
   }
   .people-custom{
       font-size: 30px;
   }
   .colleagues-custom{
       font-size: 53px;
   }
   .footer-section ul li{
     list-style: none;
   }
   #people{
       margin-top: 100px;
   }
   #learning{
       margin-top: 100px;
   }
   .footer-custom{
       margin-top: 100px;
   }
   #prev{
    position: relative;
    left: -100px;
   }
   #search{
    display: flex;
   }
   #post-job{
    background: #f1ece5;

   }
   .last{
    background-image: url(./images/lastbg.png);
   }
   #foot a{
    text-decoration: none;
    color: rgb(87, 86, 86);

   }
   #foot a:hover{
    text-decoration: underline;
    color: #0a66c2;
   }
   /* #foote li{
    margin-left: 4px;
   } */
